// contains all the CSS that handles the layout, such as the container and any grid systems
@import 'base';
@import 'variables';
.minigrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    //justify-content: end;
    justify-items: end;
    align-items: center;
}


.div-center {
    justify-content: center;
    //padding-left: 10px;
    grid-column: 1 / 3;
    //grid-row: 3;
}

//for grey color div in apt
.aptGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    //gap: 10px;
    //justify-content: end;
    //justify-items: end;
    //align-items: center;
}


.aptFourDiv {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

$greyValue:3;
@for $i from 1 through $greyValue {
    
        .div-grey-#{$i} {
            grid-column: #{$i};
    grid-row: 1 / 3;
       
    }
  
}

.div-flex{
    display: flex;
}

.div-inline-table{
    display:inline-table;
}

.apt-last{
    display: inline-flex;
}


.displayContent{
    display: contents;
}